/* RESPONSIVE FOR TABLETS */

@media (min-width: 960px) {
  body .nl-page {
    .navbar-item:not(.menu-item) {
      display: block !important;
    }

    #navbar {
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 3;

      .navbar-items {
        padding-top: 8px;
      }

      .logo {
        transition: all 200ms linear;
        max-height: 100px;

        svg {
          transition: all 200ms linear;
          width: 260px;
          height: 90px;
          object-fit: cover;
          object-position: top;
        }
      }

      &.navbar-small {
        background: $white;
        overflow: hidden;

        .logo {
          max-height: 40px;
          overflow: hidden;

          svg {
            width: 150px;
            height: 50px;
          }
        }
      }
    }

  }
}

@media (max-width: 960px) {
  body .nl-page {
    h1 {
      font-size: calc(20px + 1.75vw);
    }

    h2 {
      font-size: calc(18px + 1vw);
    }

    .menu-item {
      display: block !important;
    }

    main {
      display: flex;
      flex-direction: column;

      .header-bg-image {
        flex: 1 1 auto;
      }

      #login-mobile {
        flex: 0 0 auto;
        padding-top: 0;
        padding-bottom: 0;

        input {
          padding: 10px;
        }
      }
    }

    #landing {
      margin-bottom: 40px;
    }

    #navbar {
      position: relative;
      .logo {
        width: 200px;
      }
    }

    .login-form {
      margin-top: 20px;
      margin-bottom: 20px;


      label {
        color: $black;
        margin-bottom: 10px;
        font-size: $font-size-h4;
      }

      input, label {
        margin-left: 0;
        margin-bottom: 10px;
      }
    }

    #intro {
      .intro-text {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 20px;
      }
    }

    #logistics {
      .link-area {
        padding-left: 0;
      }
    }

    .collection {
      margin-top: 0;
    }

    .page-wrapper {
      padding-bottom: 37px; /*footer height*/
    }

    #program-elements {

      .program-box {
        padding: 24px 24px 100px;

        .content-box {
          padding: 0;
          padding-top: 10px;
        }

        h3 {
          margin-bottom: 10px;
        }

        &.is-large:after {
          background-color: transparent !important;
        }

        .line {
          left: auto;
          right: 0;
        }

        .mid-dot {
          left: auto;
          right: -30px;

          &.is-large {
            left: auto;
            height: 100px;
            width: 100px;
            border-radius: 50px;
            top: calc(50% - 50px);
            right: -50px;
          }
        }

        .program-link {
          width: 100%;
          right: 0 !important;
          min-width: unset;

          .btn {
            width: 100%;
            min-width: unset;
          }
        }
      }
    }

    #social {
      .hashtags {
        p {
          margin: 0;
          text-decoration: underline;
        }
      }

      .twitter-live-feed {
        border: 1px solid white;
        padding: 24px;

        &:first-child {
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    section, section.highlight {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .module-header {
      margin-top: 2rem;
    }

    #footer {
      padding: 0.75rem 1rem;
      p {
        font-size: $font-size-xs;
        margin-bottom: 5px !important;
        text-align: left !important;
      }

      ul {
        li {
          margin-left: 0;
          margin-right: 10px;
        }
      }
    }

    .event-page-title {
      padding-left: 0;
    }

    .rise-lab {
      /*overflow: hidden;*/
      /*padding-top: 100px;*/

      .rise-lab-graphic {
        top: 0;
        right: 0;
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin-top: 50px;

        img {
          height: inherit;
          width: inherit;
        }

        .circle {
          height: 90px;
          width: 90px;
        }
      }

      .MuiGrid-item {
        &:nth-of-type(3) {
          .labs-item {
            margin-top: 0;
          }
        }

        &:nth-of-type(4) {
          .labs-item {
            margin-top: 0;
          }
        }
      }
    }

    .event-link {
      text-decoration: none;

      h3 {
        text-decoration: underline;
      }
    }

    .featured-content-collection {
      display: flex;
      flex-wrap: wrap;

      .featured-content-item {
        flex-grow: 0;
        max-width: calc(50% - 16px);
        flex-basis: calc(50% - 16px);

        img {
          width: 100%;
        }
      }
    }
  }
}

/* RESPONSIVE FOR MOBILE */

@media (max-width: 600px) {
  body .nl-page {
    #navbar {
      .logo {
        svg {
          width: 220px;
          height: 70px;
        }
      }
    }

    #landing {
      padding: 0;
      padding-bottom: 60px;

      h1 {
        text-align: center;
        padding-top: 20px;
      }

      .landing-body {
        padding-top: 20px;
      }

      .landing-intro {
        text-align: center;
      }

      .header-image {
        padding: 0;
      }

      .title {
        text-align: center;
      }

      .landing-image {
        min-height: 100px;
      }

      .landing-image .rise-icon {
        top: -50px;
        left: unset;
        right: 0;
      }

      .title-icon {
        height: calc(1.5rem + 0.75vw);
      }

      .landing-slide {
        .slide-img {
          img {
            max-height: 33vh;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .rise-lab {
      h2 {
        padding-bottom: 50px;
      }
    }

    .tabs-list {
      .tabs-item {
        padding: 10px 5px;
        font-size: 14px;
      }
    }

    .round-btn {
      width: 160px;
      height: 160px;
    }

    .participant {
      .participant-image {
        width: 120px;
        height: 160px;
        max-height: unset;
        min-height: unset;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    #footer {
      .footer-right {
        text-align: left;
        margin-top: 10px;
        align-items: flex-start;
      }
    }
  }

  .participant-modal {
    text-align: center;

    h2 {
      margin-left: 0;
    }
    .participant-affiliate-organization {
      margin-left: 0;
    }
  }

  .partner {
    padding: 10px;
    filter: grayscale(100%);
    display: flex;
    align-items: center;

    .partner-image {
      position: relative;
      height: 100px;
      width: 100px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
      }
    }
  }

  .btn {
    font-size: $font-size-sm;
    padding: 0.5rem 1rem;
  }

  .MuiGrid-spacing-xs-6 > .MuiGrid-item {
    padding-top: 12px !important;
    padding-bottom: 18px !important;
  }

  .featured-content-item {
    width: 49%;
  }
}

.hide-on-small-only, .hide-on-small-and-down {
  @media #{$small-and-down} {
    display: none !important;
  }
}

.hide-on-med-and-down {
  @media #{$medium-and-down} {
    display: none !important;
  }
}

.hide-on-med-and-up {
  @media #{$medium-and-up} {
    display: none !important;
  }
}

.hide-on-med-only {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: none !important;
  }
}

.hide-on-large-only {
  @media #{$large-and-up} {
    display: none !important;
  }
}

.show-on-medium {
  @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
    display: block !important;
  }
}

.show-on-small {
  @media #{$small-and-down} {
    display: block !important;
  }
}

.show-on-medium-and-up {
  @media #{$medium-and-up} {
    display: block !important;
  }
}

.show-on-medium-and-down {
  @media #{$medium-and-down} {
    display: block !important;
  }
}

.hide {
  display: none !important;
}
