@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Libre+Baskerville:400,700|Montserrat:400,700,900&display=swap');

/*------ All colours ------*/

$dark-purple: #363648;
$peach: #E57A68;
$charcoal: #535F6C;
$light-charcoal: #9DAAB7;
$light-peach: #F6E7E2;
$grey: #BCBEC2;
$light-green: #C3D7D4;


$white: #E5E5E5;
$black: #363648;

/*------ Theme colours ------*/

$primary-color: $dark-purple;
$secondary-color: $peach;
$tertiary-color: $light-peach;
$background-color: $white;


/*------ Theme fonts ------*/

$body-font: 'Libre Baskerville', serif;
$header-font: 'Montserrat', sans-serif;
$title-font: 'Cedarville Cursive', cursive;



