@import 'normalize';
@import "variables";
@import "mixins";
@import "utils";

* {
  box-sizing: border-box;
}

body {
  font-family: $body-font;
  color: $black;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

a, button {
  text-decoration-color: $highlight-color;
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

.icon {
  padding: 1em;
  color: $white;
  background: linear-gradient(100deg, $primary-color 0%, $secondary-color 100%);
  border-radius: 50px;
  height: 50px;
  width: 50px;
}


.pretty-link {
  @include pretty-link;
}

.paragraph, p {
  font-family: $body-font;
  margin-top: 0;

  a {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
  }
}

body .nl-page {
  font-size: 1.1rem;
  line-height: 1.4;

  &.theme-light {
    background-color: $white;
  }

  &.theme-gray {
    background-color: $gray-theme;
  }

  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    padding-top: 10px;
    padding-bottom: 5px;

    .logo {
      svg {
        width: 260px;
        height: 90px;
      }
    }
  }


  .navbar-items {
    display: flex;
    align-items: center;

    .navbar-item {
      @include pretty-link;
      margin-right: 24px;
      font-weight: normal;
      font-size: 1rem;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .menu {
    width: 100vw;
    height: 100vh;
    width: 100%;
    height: 100%;
    background-color: $gray-600;
    flex-direction: column;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 100px 50px;
    z-index: 2;
    transition: all 0.3s linear;

    .menu-item {
      font-size: 16px;
      border-bottom: 1px solid $white;
      padding-bottom: 0;
      transition: 100ms;
      text-decoration: none;
      margin-bottom: 24px;
      @include pretty-link;
      color: $white;
    }

    &.is-active {
      display: flex;
    }
  }


  main {
    height: 100%;
  }

  footer {
    width: 100%;

    ul {
      display: flex;
      list-style: none;
      padding-left: 0;
      margin: 0;
      justify-content: flex-start;

      li {
        margin-right: 10px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          padding: 5px;
          background: transparent;
          transition: all 300ms ease;

          &:hover {
            background: $white;
          }

          &:focus {
            animation-name: jump;
            animation-duration: 0.5s;
            animation-timing-function: ease;
            animation-iteration-count: 1;
          }
        }

        svg {
          fill: $dark-gray;
        }
      }
    }

    .footer-left {
      ul {
        margin-top: 10px;
      }
    }

    .footer-right {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .footer-legal {
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-transform: uppercase;
      flex-wrap: wrap;

      span {
        padding-right: 0.5em;
        padding-left: 0.5em;
        border-right: 1px solid $black;

        &:last-of-type {
          border-right: none;
        }
      }
    }
  }

  .header-bg-image {
    position: relative;
    /*filter: contrast(1.5);*/

    & + .actions {
      top: calc(100% - 30px) !important;
    }
  }

  #landing {
    position: relative;
    margin-bottom: 20px;

    .landing-body, .landing-image {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }

    .landing-image {
      position: relative;
      min-height: 65vh;

      .rise-icon {
        position: absolute;
        height: 110px;
        width: 110px;
        left: -55px;
        border: none;
        background: $white;
        border-radius: 100px;
        padding: 10px;
        /*box-shadow: inset 0 0 0 2px $primary-color;*/
      }
    }

    .carousel {
      &.carousel-slider {
        overflow: unset;
      }

      .control-dots {
        bottom: -60px;

        .dot {
          height: 30px;
          width: 30px;
          border-radius: 0;
          display: inline-flex;
          justify-content: center;
          align-content: center;
          line-height: 1.5;
          box-shadow: none;
          opacity: 1;

          &:hover {
            background: $primary-color;
          }

          &.selected {
            border: 2px solid $primary-color;
          }
        }
      }
    }

    .slick-dots {
      li {
        /*bottom: -40px;*/
      }

      .slick-active > div {
        border: 2px solid $primary-color;
      }
    }

    h1 {
      margin: 0;
      line-height: 1.2;
    }

    .title-icon {
      display: inline-block;
      height: calc(20px + 1.5vw);
      width: auto;
      margin-right: 0.1em;
    }

    .no-wrap {
      white-space: nowrap;
    }

    .landing-slide {
      &:hover {
        button.rise-icon {
          box-shadow: inset 0 0 0 2px $primary-color;
        }
      }

      &:focus {
        button.rise-icon {
          transform: translateY(4px);
        }
      }

      button.rise-icon {
        box-shadow: inset 0 0 0 0 $primary-color;
        transition: all 0.3s ease;

        &:hover {
          box-shadow: inset 100px 0 0 0 $primary-color;
        }

        &:focus {
          animation-name: bump;
          animation-duration: 0.5s;
          animation-timing-function: ease;
          animation-iteration-count: 1;
        }
      }
    }

    .carousel {
      .slide {
        text-align: left;
      }
    }
  }

  .login-form {
    font-size: 1.5rem;

    input {
      padding: 15px;
      font-size: 1.25rem;
      border: none;

      &:focus {
        outline: none;
      }
    }

    input[type='submit'] {
      cursor: pointer;
    }

    input[type='text']:focus {
      box-shadow: inset 0 1px 3px $gray-500;
    }
  }

  #help-icon {
    position: relative;
    display: inline-flex;
    transform: translateY(-15px);

    &:hover {
      &:after {
        content: 'Your access code was sent to you by email. Contact us if you need us to resend it.';
        display: block;
        padding: 20px;
        position: absolute;
        bottom: 24px;
        left: 24px;
        background: $gray-100;
        font-size: 1rem;
        width: 200px;
        color: $black;
        font-family: $body-font;
      }
    }
  }

  #intro {
    p {
      font-size: 1em;
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #program-elements {
    overflow: hidden;
    position: relative;

    .edit-container {
      z-index: 1200 !important;
    }

    h1 {
      margin: 0;
    }

    h2 {
      margin-bottom: 0;
    }

    .black-underline {
      width: 100%;
      height: 2px;
      background-color: black;
      align-self: flex-end;

      &:before {
        content: '';
      }
    }

    .program-box {
      background-color: white;
      margin-bottom: 24px;
      position: relative;

/*      &.is-large:after {
        content: '';
        height: 100%;
        width: 150px;
        background-color: $white;
        left: -150px;
        top: 0;
        position: absolute;
      }*/

      .image-container {
        background-size: cover;
      }

      .content-box {
        padding: 40px 40px 80px;
      }

      h4 {
        font-size: calc(24px + 0.5vw);
      }

      h3 {
        font-weight: 300;
      }

      &:first-child {
        .line {
          top: 50%;
          height: calc(50% + 24px);
        }
      }

      &:last-child {
        .line {
          top: 0;
          height: 50%;
        }
      }

      .line {
        height: calc(100% + 24px);
        width: 2px;
        background-color: $primary-color;
        position: absolute;
        left: -2px;
        top: 0;
        z-index: 1;
      }

      .mid-dot {
        background: linear-gradient(to right, $primary-color, $secondary-color);
        position: absolute;
        height: 60px;
        width: 60px;
        border-radius: 30px;
        top: calc(50% - 30px);
        left: -31px;
        z-index: 2;

        &.is-large {
          height: 200px;
          width: 200px;
          border-radius: 100px;
          top: calc(50% - 100px);
          left: -100px;
        }

        &.is-past {
          background: $gray-400;
        }
      }

      .program-link {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;
        min-width: 300px;
        text-decoration: none;
        font-weight: 700;

        .btn {
          min-width: 300px;
        }
      }
    }
  }

  #logistics {
    /*background: linear-gradient(90deg, $white 0%, $white 57%, $gray-600 57%, $gray-600 100%);*/

    .link-area {
      /*padding-left: 40px;*/
    }
  }

  .events-column {
    flex: 1 1 0px;
    margin: 10px;
    min-width: 0;
    hyphens: auto;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .react-tabs {
    overflow: auto;
  }

  .tabs-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;

    .tabs-item {
      background: $gray-200;
      color: $gray-500;
      margin: 2px;
      width: 100%;
      cursor: pointer;
      padding: 20px 10px;
      font-size: $font-size-xs;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    .react-tabs__tab--selected {
      background: $secondary-color;
      color: $black;
    }
  }

  .gallery-item {
    text-decoration: none;
    transition: all 0.3s ease;

    .tag {
      top: 0;
      right: 0;
      font-size: 1rem;
    }

    .author, .details {
      font-size: 14px;
    }

    .img-container {
      overflow: hidden;

    }

    .gallery-item-image {
      transition: all 0.5s ease-in-out;
      filter: grayscale(1) contrast(2);
    }

    .overlay-gradient {
      transition: all 0.3s ease;
      opacity: 1;
    }

    &:hover, &:focus {
      .gallery-item-image {
        filter: grayscale(0) contrast(1);
        transform: scale(1.075);
      }

      .overlay-gradient {
        opacity: 0;
      }

      .card-title {
        text-decoration: underline;
      }
    }
  }

  .overlay-gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(100deg, transparentize($primary-color, 0.5) 0%, transparentize($secondary-color, 0.5) 100%);

    &.full-opacity {
      background: linear-gradient(100deg, $primary-color 0%, $secondary-color 100%);
    }
  }

  .lightbox-container {
    position: relative;
  }

  .lightbox-container .overlay {
    transition: all 0.3s ease-in;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
  }

  .lightbox-container .overlay:hover, .lightbox-container .overlay:focus {
    opacity: 1;
  }
}

.participant {
  text-align: left;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  .pretty-link {
    @include pretty-link;
  }

  .participant-image {
    position: relative;
    height: 40vh;
    min-height: 200px;
    max-height: 360px;
    margin: 0 auto 20px;

    img {
      height: 100%;
      width: 100%;
      max-width: 250px;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    .pretty-link:after {
      width: 100%;
    }
  }

  &:focus {
    .pretty-link {
      animation-name: bump;
      animation-duration: 0.5s;
      animation-timing-function: ease;
      animation-iteration-count: 1;

      &:after {
        width: 100%;
        border-color: $primary-color;
      }
    }
  }

  .participant-name {
    margin-bottom: 8px;
    display: inline-block;
  }

  .participant-affiliate-organization {
    color: $gray-600;
    font-size: $font-size-xs;
  }
}

.participant-modal {
  padding: 0 !important;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 1px;

  .participant-image-lg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .participant-affiliate-organization {
    color: $gray-400;
    margin-bottom: 16px;
  }

  .summary {

  }
}

@keyframes dip {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

.partner {
  display: flex;
  align-items: center;
  justify-content: center;

  .partner-image {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: all 0.3s ease;
      filter: grayscale(100%);
    }
  }

  .partner-link {
    padding-bottom: 0;

    &:focus {
      .partner-image img {
        filter: grayscale(100%) brightness(1.1);
      }
    }
  }
}


#social {
  .hashtags {
    p {
      margin: 0;
      text-decoration: underline;
    }
  }

  .twitter-live-feed {
    border: 1px solid white;
    padding: 24px;

    &:first-child {
      margin-right: 24px;
    }

    &:last-child {
      margin-right: 24px;
    }
  }

  .btn {
    border: 1px solid white;
  }
}

.gradient-overlay {
  background: linear-gradient(100deg, transparentize($primary-color, 0.5) 0%, transparentize($secondary-color, 0.5) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.MuiSnackbarContent-message {
  width: 100%;
  text-align: center;
}

section.highlight {
  background-color: $gray-theme;
}

.timezone-select__menu {
  z-index: 15 !important;
}

.round-btn {
  cursor: pointer;
  background: linear-gradient(100deg, #C34580 0%, #EC6668 100%);
  color: #FFFFFF;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'BMW', 'Helvetica', 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 105px;
  position: relative;
  width: 190px;
  height: 190px;
  margin: 0 auto 20px
}

.icon-btn {
  cursor: pointer;
  background: linear-gradient(100deg, #C34580 0%, #EC6668 100%);
  color: #FFFFFF;
  font-weight: 700;
  font-family: 'BMW', 'Helvetica', 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 0.5em;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1)
  }
}

.add-item-btn {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: none;
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none;

    .icon-btn {
      transform: rotate(90deg);
    }

    .pretty-link:after {
      width: 100%;
      background-color: $secondary-color;
    }
  }
}

.add-to-calendar-btn {
  position: relative;
  display: inline-flex;
  flex-direction: column;

  .add-to-calendar-dropdown {
    position: absolute;
    top: 52px;
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid $medium-gray;
    border-top: none;
    width: 100%;

    .pretty-link {
      padding: 8px 16px;
    }
  }
}

.fancy-border {
  background: linear-gradient(90deg, $yellow 0%, $yellow 40%, $green 100%);
  width: 100%;
  height: 2px;
  margin: 0 auto;
}

.rise-lab-graphic {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  width: 350px;
  height: 350px;

  img {
    position: absolute;
    height: 300px;
    width: 300px;
  }

  .circle {
    position: absolute;
    height: 180px;
    width: 180px;
    border-radius: 180px;
    /*background: $primary-color;*/
  }
}

#participant-gallery {
  .slick-dots {
    bottom: -40px;

    .slick-active > div {
      border: 2px solid $primary-color;
    }
  }
}

.event {
  .event-image {
    width: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1/1;
    max-height: 300px;
  }
}

#stagger {
  .MuiGrid-item {
    &:nth-of-type(2) {
      .labs-item {
        margin-top: 140px;
      }
    }

    &:nth-of-type(3) {
      .labs-item {
        margin-top: 280px;
      }
    }
  }
}

blockquote {
  &.quote {
    margin: 0;
    padding-left: 1em;
    border-left: 4px solid $gray-300;
    font-size: 1.2em;
  }
}

.featured-content-collection {
  display: flex;
  flex-wrap: wrap;

  .featured-content-item {
    flex-grow: 0;
    max-width: calc(25% - 16px);
    flex-basis: calc(25% - 16px);

    img {
      width: 100%;
    }
  }
}

#articles {
  ul.filter {
    display: flex;
    padding: 0;

    li {
      margin-right: 40px;
      list-style: none;

      button {
        background: transparent;
        border: none;
        font-size: $font-size-xs;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          height: 30px;
          width: 30px;
        }
      }

      &.active {
        button {
          &:after {
            width: 100%;
            border-color: $primary-color;
          }
        }
      }
    }
  }
}

#contact-button {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
  padding: 0.25rem 0.5rem;
  transition: all 200ms ease-in;
  z-index: 10;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 2px 5px 8px rgba(0,0,0,0.25);
  }

  &:focus, &:active {
    transform: translateY(0);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  }
}

@import "responsive";
