@import "variables";

#event-landing {
  flex-grow: 1;
  margin-top: 120px;
  @media (max-width: 959px) {
    margin-top: 10px;
  }
}
.header {
  @media (max-width: 959px) {
    padding-bottom: 1em;
    padding-top: 1em;
    margin-top: 40px;

    h1 {
      line-height: 1.5;
      display: block;
    }
  }
}

.event-info {
  .rise-circle {
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 300px;
    z-index: -1;
    top: -150px;
    left: -150px;

    @media (max-width: 959px) {
      top: -100px;
      left: -100px;
      height: 200px;
      width: 200px;
    }
  }

  @media (max-width: 959px) {
    .text-large {
      font-size: 1em;
    }
  }
}

.event-description {
  p {
    margin-bottom: 0;
    font-size: 1.2em;

    @media (max-width: 959px) {
      font-size: 1em;
    }
  }
}

.circle-icon {
  height: 1em;
  width: 1em;
  border-radius: 100px;
}